@import "variables.scss";
// @import "~bulma/sass/utilities/_all.sass"; - For 3rd party package

h1, h2 {
  color: $primaryColor;
}

.button{
  display: block;
  color: $primaryColor;
  background-color: blue;
}